<div *ngIf="identity" class="page-container">
<script type="text/javascript" src="asset/js/r.js"></script>
  <div class="sidebar-menu">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-content">
    <div class="row">
      <!-- Profile Info and Notifications -->
      <div class="col-md-6 col-sm-8 clearfix">
        <app-profile-info-notification></app-profile-info-notification>
      </div>
      <!-- Raw Links -->
      <div class="col-md-6 col-sm-4 clearfix hidden-xs">
        <app-rawlink></app-rawlink>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <h1>November 04, 2015</h1>
            <h3>Bienvenido al sitio <strong>{{identity.name}} {{identity.surname}}</strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!identity" class="">

  <div class="login-container">

    <div class="login-header login-caret" style="background-color: #373e4a;">

      <div class="login-content">

        <a href="index.html" class="logo">
  				<img src="assets/images/celu@2x.png" width="250" alt="" />
  			</a>

        <p class="description">Estimado usuario, inicie sesión para acceder al examen!</p>

        <!-- progress bar indicator -->
        <div class="login-progressbar-indicator">
          <h3>43%</h3>
          <span>Cargando ...</span>
        </div>
      </div>

    </div>

    <div class="login-progressbar">
      <div></div>
    </div>

    <div class="login-form">

      <div class="login-content">

        <div class="form-login-error">
          <h3>Login inválido</h3>
          <p>Enter <strong>demo</strong>/<strong>demo</strong> as login and password.</p>
        </div>
        <div *ngIf="errorMessage">
          <div class="alert alert-info">
            <strong>Error!</strong> {{errorMessage}}
          </div>
        </div>

        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" method="post" role="form" id="form_login">

          <div class="form-group">

            <div class="input-group">
              <div class="input-group-addon">
                <i class="entypo-user"></i>
              </div>

              <input type="text" class="form-control" #email="ngModel" name="username" id="username" [(ngModel)]="user.email" placeholder="Correo" autocomplete="off" required/>
              <span *ngIf="!email.valid && email.touched">El correo es obligatorio</span>
            </div>

          </div>

          <div class="form-group">

            <div class="input-group">
              <div class="input-group-addon">
                <i class="entypo-key"></i>
              </div>

              <input type="password" class="form-control" #password="ngModel" name="password" id="password" [(ngModel)]="user.password" placeholder="Password" autocomplete="off" />
            </div>

          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-login">
  						<i class="entypo-login"></i>
  						Ingresar
  					</button>
          </div>

          <!-- Implemented in v1.1.4 -->
          <div class="form-group">
            <em>- O -</em>
          </div>

          <div class="form-group">

            <button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left btn-blue">
  						Registro
  						<i class="entypo-user"></i>
  					</button>

          </div>

          <!--

  				You can also use other social network buttons
  				<div class="form-group">

  					<button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left twitter-button">
  						Login with Twitter
  						<i class="entypo-twitter"></i>
  					</button>

  				</div>

  				<div class="form-group">

  					<button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left google-button">
  						Login with Google+
  						<i class="entypo-gplus"></i>
  					</button>

  				</div> -->

        </form>


        <div class="login-bottom-links">

          <a href="javascript:void(0)" class="link">olvido su contraseña?</a>

          <br />

          <a href="javascript:void(0)">ToS</a> - <a href="javascript:void(0)">Política de privacidad</a>

        </div>

      </div>

    </div>

  </div>
</div>
