
  <div class="sidebar-menu-inner">

    <header class="logo-env">

      <!-- logo -->
      <div class="logo">
        <a href="" [routerLink]="['/']">
          <img src="assets/images/celuvans-logo.png" width="120" alt=""/>
        </a>
      </div>

      <!-- logo collapse icon -->
      <div class="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon">
          <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
          <i class="entypo-menu"></i>
        </a>
      </div>


      <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
      <div class="sidebar-mobile-menu visible-xs">
        <a href="#" class="with-animation">
          <!-- add class "with-animation" to support animation -->
          <i class="entypo-menu"></i>
        </a>
      </div>

    </header>

    <div class="sidebar-user-info">

      <div class="sui-normal">
        <a href="#" class="user-link">
          <img src="assets/images/thumb-1@2x.png" width="55" alt="" class="img-circle" style=" background: white;"/>

          <span>Bienvenido,</span>
          <strong id="identity_name">{{identity.name}} {{identity.surname}}</strong>
        </a>
      </div>

      <div class="sui-hover inline-links animate-in">
        <!-- You can remove "inline-links" class to make links appear vertically, class "animate-in" will make A elements animateable when click on user profile -->
        <a [routerLink]="['/mis-datos']">
          <i class="entypo-pencil"></i>
          Mis Datos
        </a>

        <!--<a href="mailbox.html">
          <i class="entypo-mail"></i>
          Inbox
        </a>-->

        <a href="http://localhost:4200/" (click)="logoutC()">
          <i class="entypo-lock"></i>
          Salir
        </a>

        <span class="close-sui-popup">&times;</span>
        <!-- this is mandatory -->
      </div>
    </div>


    <ul id="main-menu" class="main-menu">
      <!-- add class "multiple-expanded" to allow multiple submenus to open -->
      <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
      <li class="opened active has-sub" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
        <a href="index.html">
          <i class="entypo-gauge"></i>
          <span class="title">Gestionar Examen</span>
        </a>
        <ul class="visible">
          <li class="has-sub">
            <a href="#">
              <span class="title">Temas</span>
            </a>
            <ul>
              <li>
                <a [routerLink]="['/temas']">
                  <span class="title">Lista Temas</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/crear-tema']">
                  <span class="title">Agregar Tema</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="#">
              <span class="title">Preguntas</span>
            </a>
            <ul>
              <li>
                <a [routerLink]="['/preguntas']">
                  <span class="title">Lista Preguntas</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/crear-pregunta']">
                  <span class="title">Agregar Pregunta</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="#">
              <span class="title">Respuestas</span>
            </a>
            <ul>
              <li>
                <a [routerLink]="['/respuestas']">
                  <span class="title">Lista Respuestas</span>
                </a>
              </li>
              <!--<li>
                <a href="#">
                  <span class="title">Agregar Respuestas</span>
                </a>
              </li>-->
            </ul>
          </li>
          <li class="has-sub">
            <a href="#">
              <span class="title">Examen</span>
            </a>
            <ul>
              <li>
                <a [routerLink]="['/examenes']">
                  <span class="title">Lista Examen</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/crear-examen', this.identity._id]">
                  <span class="title">Agregar Examen</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="#">
              <span class="title">Cuestionarios</span>
            </a>
            <ul>
              <li>
                <a [routerLink]="['/questionarios']">
                  <span class="title">Lista Cuestionarios</span>
                </a>
              </li>
              <li>
                <a [routerLink]="['/crear-cuestionario']">
                  <span class="title">Agregar Cuestionario</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </li>
      <li *ngIf="identity && identity.role == 'ROLE_ADMIN'">
        <a [routerLink]="['/calificaciones-admin']">
          <i class="entypo-monitor"></i>
          <span class="title">Consultar Examenes</span>
        </a>
      </li>
      <li class="has-sub" *ngIf="identity && identity.role == 'ROLE_USER'">
        <a href="index.html">
          <i class="entypo-layout"></i>
          <span class="title">Examenes</span>
        </a>
        <ul>
          <li>
            <a [routerLink]="['/questionarios-usuario']">
              <span class="title">Examen Activos</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/calificaciones-user', this.identity._id]">
              <span class="title">Consultar Notas</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
