<div id="error-container">
          <div class="error-options">
              <h3><i class="fa fa-chevron-circle-left text-muted"></i> <a href="index.html">Regresar</a></h3>
          </div>
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                   <h1 class="animation-pulse"><i class="fa fa-exclamation-triangle text-warning animation-pulse"></i></h1>
                  <h2 class="h3" style="color: #333;">¡Intentos superados ! <br>No puedes presentar este examen porque has superado el número de intentos.</h2>
              </div>
          </div>
      </div>
